streamlit
spacy
pandas
numpy
scikit-learn
nltk
matplotlib
seaborn
beautifulsoup4
requests
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0.tar.gz