streamlit>=1.30
scikit-learn>=1.3
pandas>=2.0
numpy>=1.24
joblib>=1.3
requests>=2.31
beautifulsoup4>=4.12

spacy>=3.8,<3.9
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl

transformers>=4.38
torch>=2.2
datasets>=2.18
sentencepiece
accelerate